[run]

branch = True

source =
    src.api
    src.copilot
    src.tools
    src.config


[report]

show_missing = True

skip_covered = False

precision = 1

exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:


[xml]

output = coverage.xml